@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    background-color: rgb(248, 248, 248);
    font-family: Poppins, sans-serif;
    width: 100%;
}

.Pages {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 769px) {

    .mobileMenu {
        display: none;
    }

    .mobMenu {
        display: none;
    }

    .about-blue-background-hero {
        position: absolute;
        left: 0px;
        transform: rotateZ(15deg) translateX(-50%);
        opacity: 0.2;
        background-image: linear-gradient(to left, rgb(39, 203, 255), rgba(39, 203, 255, 0));
        height: 60vh;
        aspect-ratio: 1 / 1;
        filter: blur(20px);
        border-radius: 40px
    }

    .skillMainDivMoblie {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        width: calc(100% - 20px);
        height: 7vh;
        position: fixed;
        background-color: rgb(248, 248, 248);
        z-index: 30;
        padding: 10px 10px;
    }

    .headerRightDisktop {
        color: rgba(4, 4, 4, 0.88);
        text-decoration: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .headerLeft {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: 40px;
        list-style: none;
        height: 7vh;
    }

    .headerLeft li {
        display: flex;
        gap: 10px;
    }

    .headerLeft li a {
        display: flex;
        height: 20px;
        gap: 10px;
    }

    .headerRight {
        display: flex;
        align-items: center;
        gap: 22px;
        margin-right: 40px;
        list-style: none;
        height: 7vh;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: bold;
    }

    .headerProject:active {
        color: white;
    }

    .headerAbout:active {
        color: white;
    }

    .headerContact:active {
        color: white;
    }

    .landing_page {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        text-align: center;
        width: 100%;
    }

    .landing_page .hasnatImage {
        height: 20vh;
        margin-bottom: 25px;
        animation: textload 1s ease-in-out;
    }

    .landing_page h3 {
        font-size: 20px;
        animation: textload 1s ease-in-out;
        transition: 0.3s;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: -1px;
        opacity: 0.8;
    }

    .landing_page h1 {
        font-size: 42px;
        margin-top: 3vh;
        animation: textload 1.2s ease-in-out;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: -2px;
    }

    .blueLineDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .landing_page .blueLine {
        position: absolute;
        transform: translateY(-13px);
        width: 180px;
        margin-left: -150px;
        z-index: -1;
        animation: textload 1.2s ease-in-out;
    }

    .landing_page p {
        margin-top: 3vh;
        animation: textload 1.4s ease-in-out;
        opacity: 0.8;
        width: 100%;
        font-weight: 500;
    }

    .landing_page .connectMe {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4vh;
        height: 40px;
        width: 200px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 30px;
        border: none;
        color: rgba(240, 240, 240, 0.888);
        background: black;
        transition: 0.3s;
        animation: textload 1.6s ease-in-out;
        font-family: Poppins, sans-serif;
        cursor: pointer;
    }

    .connectMe:hover {
        letter-spacing: 1px;
    }

    .TopButton {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 50px;
        font-weight: 600;
        letter-spacing: 1px;
        background: white;
        right: 40px;
        bottom: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 50%;
        border: none;
        color: white;
        z-index: 10;
        animation: TopBtn 6s ease-in-out infinite;
        transition: 0.3s ease-in-out;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.374);
        overflow: hidden;
    }

    .TopButton:hover {
        letter-spacing: 2px;
    }

    .TopButton img {
        height: 22px;
        z-index: 12;
    }

    @keyframes TopBtn {
        40% {
            transform: translateY(0) rotateZ(0deg);
        }

        45% {
            transform: translateY(-20px) rotateZ(0deg);
        }

        48% {
            transform: translateY(-20px) rotateZ(10deg);
        }

        50% {
            transform: translateY(-20px) rotateZ(-10deg);
        }

        52% {
            transform: translateY(-20px) rotateZ(10deg);
        }

        55% {
            transform: translateY(-20px) rotateZ(0deg);
        }

        60% {
            transform: translateY(0) rotateZ(0deg);
        }
    }

    .skillsOnLanding {
        position: absolute;
        padding: 10px;
        width: 30px;
        height: 28px;
        border-radius: 8px;
        background-color: white;
        display: flex;
        z-index: 9;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        animation: textload 1.2s ease-in-out;
    }

    .microverseSkill {
        right: 22%;
        top: 40%;
        animation: textload 1s ease-in-out;
    }

    .microverseSkill2 {
        position: absolute;
        left: 33%;
        top: 20%;
    }

    .JsSkill2 {
        position: absolute;
        top: 45%;
    }

    .freeCodeCampSkill {
        left: 18%;
        top: 20%;
        animation: textload 1s ease-in-out;
    }

    .freeCodeCampSkill2 {
        right: 14%;

    }

    @keyframes textload {
        0% {
            transform: translateY(30px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* /////////////// PROJECTS //////////////// */

    #projectsId {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 1000px;
    }

    #projectsId h2 {
        font-size: 40px;
    }

    .projects-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .headingsProjects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .leftArrow img {
        height: 40px;
        cursor: pointer;
    }

    .RightArrow img {
        height: 40px;
        cursor: pointer;
    }

    .projects p {
        text-align: center;
        margin-top: 2vh;
        color: #000000e6;
        letter-spacing: 0.5px;
    }

    .project-container {
        display: flex;
        gap: 15px;
        margin-top: 50px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    .project-container::-webkit-scrollbar {
        width: 3px;
    }

    .project-container::-webkit-scrollbar-thumb {
        background-color: rgb(248, 248, 248);
        border-radius: 2px;
    }

    .ProjectImgs {
        height: 55vh;
        width: 45vh;
        border-radius: 30px;
        object-fit: cover;
    }

    .projects-box {
        position: relative;
        display: flex;
        min-width: 280px;
        border-radius: 2rem;
        overflow: hidden;
    }

    .projectDescription {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        top: 100%;
        left: 0;
        width: calc(100% - 20px);
        height: 100%;
        background: rgba(0, 0, 0, 0.372);
        backdrop-filter: blur(2px);
        padding: 0 10px;
        transition: 0.5s ease;
        color: white;
    }

    .projects-box:hover .projectDescription {
        top: 0;
    }

    .projectDescription h4 {
        font-size: 1.5rem;
    }

    .projectDescription p {
        font-size: 0.8rem;
        text-align: center;
        color: white;
        width: 250px;
        white-space: normal;
    }

    .projectDescription span {
        padding-top: 10px;
        color: white;
        white-space: normal;
    }

    .projectDescription button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 2rem;
        border: none;
        border-radius: 20px;
        background: white;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px;
        cursor: pointer;
    }

    .projectBtns {
        display: flex;
        gap: 10px;
    }

    /* ////////////// ABOUT-SECTION////////////////// */

    #aboutSectionId {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 120vh;
        width: 100%;
    }

    .aboutSection h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        transform: translateY(30px);
    }

    .spread {
        letter-spacing: 5px;
    }

    .aboutDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .Aboutcontainer {
        display: flex;
        width: 95vw;
        max-width: 600px;
        border-radius: 25px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.381);
        overflow: hidden;
        background-color: white;
    }

    .AboutDescription {
        width: 60%;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        font-size: 20px;
        font-weight: 600;
        margin: 30px 20px 30px 10px;
    }

    .AboutDescription span {
        letter-spacing: 0.5px;
        font-family: Poppins, sans-serif;
    }

    .spanlanguages {
        color: rgb(6, 110, 142);
        font-weight: bold;
    }

    .MypicDiv {
        width: 40%;
        overflow: hidden;
        background-position: top;
        background-size: cover;

    }

    .Mypic {
        width: 100%;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        object-fit: cover;
    }

    .aboutSection h2 {
        margin-top: 5vh;
        font-size: 22px;
    }

    .cssDiv {
        position: relative;
        padding: 10px;
        width: 30px;
        height: 30px;
        border-radius: 8px;
        background-color: white;
        display: flex;
        z-index: 9;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    }

    .skillMainDiv {
        width: 65%;
        min-width: 800px;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px 15px;
        margin-top: 5vh;
    }

    .skillsIcons {
        width: 35px;
    }

    .topSkill {
        display: flex;
        gap: 15px;
    }

    .bottomSkill {
        gap: 15px;
        display: flex;
    }

    .span {
        display: flex;
        position: relative;
        opacity: 0;
        visibility: hidden;
        margin-top: -12vh;
        position: absolute;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        transition: 0.3s;
        font-size: 13px;
        letter-spacing: -1px;
    }

    .landing_page .jsDiv {
        position: absolute;
        top: 50%;
        right: 20%;
        display: flex;
        flex-direction: column;
        z-index: 9;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        animation: textload 1.2s ease-in-out;
    }

    .landing_page .MicroverseDiv {
        position: absolute;
        top: 20%;
        left: 20%;
        display: flex;
        flex-direction: column;
        z-index: 9;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        animation: textload 1s ease-in-out;
    }

    .span2 {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        margin-top: -5vh;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        transition: 0.3s;
        font-size: 13px;
        letter-spacing: -1px;
        padding: 5px;
    }

    .span5 {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        margin-top: -5vh;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        transition: 0.3s;
        font-size: 13px;
        letter-spacing: -1px;
        padding: 5px;
    }

    .span3 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        margin-top: -5vh;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        transition: 0.3s;
        font-size: 13px;
        letter-spacing: -1px;
    }

    .span4 {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        margin-top: -5vh;
        position: absolute;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        transition: 0.3s;
        font-size: 13px;
        letter-spacing: -1px;
    }

    .cssDiv:hover .span {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.8s;
    }

    .jsDiv2 {
        position: absolute;
        top: 50%;
        right: 20%;
        display: flex;
        flex-direction: column;
        z-index: 9;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        animation: textload 1.2s ease-in-out;
    }

    .jsDiv2:hover .span5 {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.8s;
    }

    .jsDiv:hover .span2 {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.8s;
    }

    .MicroverseDiv2 {
        position: absolute;
        top: 18%;
        left: 14%;
        display: flex;
        flex-direction: column;
        z-index: 9;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        animation: textload 1s ease-in-out;
    }

    .MicroverseDiv2:hover .span4 {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.8s;
    }

    .MicroverseDiv:hover .span3 {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.8s;
    }



    .skillsSpan {
        display: flex;
        justify-content: center;
        width: 70px;
    }

    .EffectiveSkill {
        display: flex;
        justify-content: center;
        width: 140px;
    }

    .about-blue-background-1 {
        position: absolute;
        left: 0px;
        transform: rotateZ(-15deg) translateX(-50%);
        opacity: 0.2;
        background-image: linear-gradient(to left, rgb(39, 203, 255), rgba(39, 203, 255, 0));
        height: 60vh;
        aspect-ratio: 1 / 1;
        filter: blur(20px);
        border-radius: 40px
    }

    .about-blue-background-2 {
        position: absolute;
        right: 15%;
        top: 10px;
        transform: rotateZ(15deg) translateX(50%);
        opacity: 0.2;
        background-image: linear-gradient(to right, rgb(255, 39, 39), rgba(255, 39, 39, 0));
        height: 27vh;
        aspect-ratio: 1 / 1;
        filter: blur(20px);
        border-radius: 60px;
    }

    /* ///////////////////////////////////////////////////// */

    .recommendation_section {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        margin-top: 100px;
        width: 100%;
    }

    .recommendation_heading {
        font-size: 34px;
        font-weight: 700;
        margin-top: 10px;
    }

    .only {
        color: white;
    }

    .only::after {
        content: "";
        height: 50px;
        width: 110px;
        background-color: rgb(0, 205, 242);
        position: absolute;
        border-radius: 15px;
        margin-left: -100px;
        margin-top: -5px;
        z-index: -1;
        opacity: 0.5;
        transform: skewX(-20deg);
    }

    .cursorImg {
        position: absolute;
        margin-top: 38px;
    }

    .shayanRecommendation {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        border-radius: 8px;
        background-color: white;
        width: 400px;
        height: 180px;
    }

    .shayanRecommendation p {
        opacity: 0.5;
    }

    .recommendationMainDiv {
        margin-top: 12vh;
        display: flex;
        gap: 40px;
        transition: all 0.1s ease 0s;
    }

    .shayanimgdiv {
        display: flex;
        margin-top: 20px;
        gap: 20px;
        -webkit-box-align: center;
        align-items: center;
    }

    .shayanimgdiv div {
        opacity: 0.5;
    }

    .shayanImg {
        width: 40px;
        height: 40px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: 3px solid black;
    }

    /* ///////////////////// CONTACT SECTION//////////////////////////// */

    #contactSectionId {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
    }

    .contactSection div {
        text-align: center;
    }

    .contactSection h2 {
        font-size: 40px;
        margin-block-start: 0.83em;
        margin-block-end: 0.20em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .contactSection h4 {
        opacity: 0.5;
        letter-spacing: 3px;
        font-size: 14px;
        font-weight: 500;
    }

    .formDiv {
        height: 60vh;
        width: 50%;
        margin-top: 5vh;
        border-radius: 10px;
        position: relative;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
    }

    form {
        width: 50%;
    }

    .inputsimgDiv {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .inputsDiv {
        padding: 20px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
        position: relative;
    }

    .inputsDiv input {
        padding: 14px 10px;
        background-color: rgb(243, 243, 243);
        border: 2px solid white;
        border-radius: 8px;
        outline: none;
        width: 100%;
        transition: all 0.3s ease-in-out 0s;
        z-index: 3;
    }

    .input {
        z-index: 5;
    }

    .inputsDiv textarea {
        padding: 14px 10px;
        transition: all 0.3s ease-in-out 0s;
        background-color: rgb(243, 243, 243);
        border-radius: 8px;
        height: 100px;
        resize: none;
        outline: none;
        width: 100%;
        border: 2px solid white;
        z-index: 3;
    }

    .box {
        z-index: 3;
        transform: translate(-50%, -50%);
        margin-left: 20vh;
        margin-top: 4vh;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        font: 16px/24px Arial, sans-serif;
        background-color: rgba(0, 0, 0, 0.944);
        width: 270px;
        height: 50px;
        font-weight: 400;
        border-radius: 30px;
        transition: 0.2s ease-in-out;
        color: rgba(255, 255, 255, 0.932);
        border: none;
        cursor: pointer;
    }

    .box:hover {
        letter-spacing: 1px;
    }

    .contactWhiteImg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .contactimg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -2;
        border-radius: 12px;
    }

    .contact-blue-background-1 {
        position: absolute;
        left: 0px;
        transform: rotateZ(-15deg) translateX(-50%);
        opacity: 0.2;
        background-image: linear-gradient(to left, rgb(39, 203, 255), rgba(39, 203, 255, 0));
        height: 50vh;
        aspect-ratio: 1 / 1;
        filter: blur(20px);
        border-radius: 40px;
        margin-top: 150px;
    }

    .contact-blue-background-2 {
        position: absolute;
        right: 10%;
        transform: rotateZ(15deg) translateX(50%);
        opacity: 0.2;
        background-image: linear-gradient(to right, rgb(255, 39, 39), rgba(255, 39, 39, 0));
        height: 25vh;
        top: 20%;
        aspect-ratio: 1 / 1;
        filter: blur(20px);
        border-radius: 40px;
    }

    footer {
        width: calc(100% - 20px);
        padding: 10px;
        background-color: rgb(34, 34, 34);
        color: white;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        z-index: 2;
        margin-top: auto;
    }

    footer footer {
        display: flex;
        justify-content: space-around;
    }

    footer footer ul {
        display: flex;
        gap: 20px;
        list-style-type: none;
    }

    .a_tag {
        color: white;
        text-decoration: none;
    }

    .footerH4 {
        font-weight: 500;
    }

    .N {
        font-size: 26px;
        color: rgb(39, 203, 255);
        font-family: 'Times New Roman', Times, serif;
    }
}

@media screen and (max-width: 769px) {

    html,
    body {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        font-family: Poppins, sans-serif;
    }

    body {
        background-color: rgb(248, 248, 248);
        width: 100%;
    }

    .mobileMenu {
        position: absolute;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100vh;
        z-index: 20;
        display: none;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(6px);
    }

    .mobileMenu.open {
        display: flex;
    }


    .mobileMenu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 25px;
        font-weight: bold;
        gap: 30px;
        margin-left: 10vh;
        margin-bottom: 30vh;
        list-style: none;
    }

    .Xicon {
        width: min-content;
        height: min-content;
        font-size: 40px;
        transform: rotateZ(45deg);

    }

    header {
        width: 100%;
        height: 5vh;
        position: fixed;
        background-color: rgb(248, 248, 248);
        z-index: 30;
        padding: 10px 10px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .headerLeft {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: 40px;
        list-style: none;
        height: 5vh;
    }

    .headerLeft li {
        display: flex;
        gap: 10px;
    }

    .headerLeft li a {
        display: flex;
        height: 20px;
        gap: 10px;
    }

    .headerRightDisktop {
        display: none;
    }

    .mobMenu {
        display: flex;
    }

    .headerRight {
        margin-right: 20px;
        list-style: none;
        height: 5vh;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerProject:active {
        color: white;
    }

    .headerAbout:active {
        color: white;
    }

    .headerContact:active {
        color: white;
    }

    .landing_page {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        text-align: center;
        width: 100%;
    }

    .landing_page .hasnatImage {
        height: 17vh;
        margin-bottom: 25px;
        animation: textload 0.8s ease-in-out;
    }

    .landing_page h3 {
        font-weight: 700;
        font-size: 15px;
        animation: textload 1s ease-in-out;
        transition: 0.3s;
    }

    .landing_page h1 {
        font-size: 30px;
        margin-top: 3vh;
        animation: textload 1.2s ease-in-out;
        width: 100%;
    }

    .blueLineDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .landing_page .blueLine {
        position: absolute;
        transform: translateY(5px);
        width: 140px;
        margin-left: -120px;
        z-index: -1;
        top: 47%;
        animation: textload 1.2s ease-in-out;
    }

    .landing_page p {
        margin-top: 3vh;
        font-size: 13px;
        animation: textload 1.4s ease-in-out;
    }

    .landing_page .connectMe {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4vh;
        height: 30px;
        width: 170px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 30px;
        border: none;
        font-weight: 400;
        letter-spacing: 0.5px;
        background: black;
        color: rgba(240, 240, 240, 0.953);
        transition: 0.3s;
        animation: textload 1.6s ease-in-out;
        font-family: Poppins, sans-serif;
    }

    .TopButton {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 45px;
        font-weight: 600;
        letter-spacing: 1px;
        background: white;
        right: 40px;
        bottom: 40px;
        padding: 5px 10px;
        border-radius: 50%;
        border: none;
        color: white;
        z-index: 10;
        animation: TopBtn 6s ease-in-out infinite;
        transition: 0.3s ease-in-out;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.324);
    }

    .TopButton img {
        height: 20px;
        z-index: 12;
    }

    .connectMe:hover {
        letter-spacing: 2px;
        box-shadow:
            0 0 2px 0 rgba(31, 242, 250, 0.1),
            0 0 4px 0 rgba(73, 216, 255, 0.2),
            0 0 6px 0 rgba(70, 214, 233, 0.3),
            0 0 8px 0 rgba(41, 160, 181, 0.4),
            0 0 12px 0 rgba(73, 170, 255, 0.5),
            0 0 18px 0 rgba(56, 199, 251, 0.6);
    }

    .TopButton:hover {
        letter-spacing: 2px;
        box-shadow:
            0 0 2px 0 rgba(31, 242, 250, 0.1),
            0 0 4px 0 rgba(73, 216, 255, 0.2),
            0 0 6px 0 rgba(70, 214, 233, 0.3),
            0 0 8px 0 rgba(41, 160, 181, 0.4),
            0 0 12px 0 rgba(73, 170, 255, 0.5),
            0 0 18px 0 rgba(56, 199, 251, 0.6);
    }

    @keyframes TopBtn {
        40% {
            transform: translateY(0) rotateZ(0deg);
        }

        45% {
            transform: translateY(-20px) rotateZ(0deg);
        }

        48% {
            transform: translateY(-20px) rotateZ(10deg);
        }

        50% {
            transform: translateY(-20px) rotateZ(-10deg);
        }

        52% {
            transform: translateY(-20px) rotateZ(10deg);
        }

        55% {
            transform: translateY(-20px) rotateZ(0deg);
        }

        60% {
            transform: translateY(0) rotateZ(0deg);
        }
    }

    .skillsOnLanding {
        position: absolute;
        padding: 10px;
        width: 30px;
        height: 28px;
        border-radius: 8px;
        background-color: white;
        display: flex;
        z-index: 9;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    }

    .microverseSkill {
        right: 10%;
        top: 30%;
        animation: textload 1s ease-in-out;
    }

    .microverseSkill2 {
        display: none;
    }

    .JsSkill2 {
        display: none;
    }

    .freeCodeCampSkill {
        left: 18%;
        top: 20%;
        animation: textload 1s ease-in-out;
    }


    .freeCodeCampSkill2 {
        top: 60%;
        right: 10%;
    }

    @keyframes textload {
        0% {
            transform: translateY(30px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* /////////////// PROJECTS //////////////// */

    #projectsId {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .headingsProjects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #projectsId h2 {
        font-size: 29px;
        font-weight: bold;
        text-align: center;
    }

    .projects p {
        font-size: 13px;
        text-align: center;
        margin-top: 2vh;
        width: 90%;
    }

    .projects-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .leftArrow img {
        height: 35px;
    }

    .RightArrow img {
        height: 35px;
    }


    .project-container {
        display: flex;
        gap: 10px;
        margin-top: 50px;
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    .project-container::-webkit-scrollbar {
        width: 3px;
    }

    .project-container::-webkit-scrollbar-thumb {
        background-color: rgb(248, 248, 248);
        border-radius: 2px;
    }

    .ProjectImgs {
        height: 50vh;
        width: 35vh;
        border-radius: 30px;
    }

    .ProjectImgs:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
    }

    .projects-box {
        position: relative;
        display: flex;
        min-width: 200px;
        border-radius: 30px;
        overflow: hidden;
    }

    .projectDescription {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        right: 0;
        left: 0;
        width: auto;
        height: 100%;
        background: rgba(0, 0, 0, 0.372);
        padding: 0 4rem;
        transition: 0.5s ease;
        top: 100%;
        backdrop-filter: blur(2px);
    }

    .projects-box:hover .projectDescription {
        top: 0;
    }

    .projectDescription h4 {
        font-size: 1.2rem;
        color: white;
        min-width: 20vh;
        white-space: normal;
        padding-bottom: 5px;
    }

    .projectDescription p {
        display: none;
        font-size: 0.6rem;
        text-align: center;
        color: white;
        border: 2px solid;
        min-width: 20vh;
        white-space: normal;
    }

    .projectDescription span {
        padding-top: 10px;
        color: white;
        min-width: 20vh;
        white-space: normal;
    }


    .projectDescription button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 1.5rem;
        border: none;
        border-radius: 20px;
        background: white;
        letter-spacing: 0.4px;
        color: black;
    }

    .projectBtns {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    /* ///////////// ABOUT SECTION /////////////////// */

    .aboutSection h1 {
        text-align: center;
        font-size: 38px;
        font-weight: 700;
        transform: translateY(30px);
    }

    .spread {
        letter-spacing: 5px;
    }

    .aboutDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .Aboutcontainer {
        display: flex;
        width: 95vw;
        max-width: 600px;
        border-radius: 25px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.381);
        overflow: hidden;
        background-color: white;
    }

    .AboutDescription {
        width: 60%;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        font-size: 18px;
        font-weight: 600;
        margin: 30px 20px 30px 10px;
    }

    .AboutDescription span {
        letter-spacing: 0.5px;
        font-family: Poppins, sans-serif;
    }

    .spanlanguages {
        color: rgb(12, 132, 197);
        font-weight: bold;
    }

    .MypicDiv {
        width: 40%;
        overflow: hidden;
        background-position: top;
        background-size: cover;

    }

    .Mypic {
        width: 100%;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        object-fit: cover;
    }

    .aboutSection h2 {
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .cssDiv {
        position: relative;
        padding: 10px;
        width: 18px;
        height: 18px;
        border-radius: 8px;
        background-color: white;
        display: flex;
        z-index: 9;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    }

    .cssDiv img {
        width: 28px;
    }

    .skillMainDiv {
        display: none;
    }

    .SkillContainerMoblie {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        padding-bottom: 5px;
        height: 25vh;
        padding-top: 15px;
    }

    .SkillContainer {
        display: none;
    }

    .skillMainDivMoblie {
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
        width: 90%;
        transform: translateX(-50%);
    }

    .topSkill {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .bottomSkill {
        display: flex;
        margin-top: 4vh;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .span {
        display: flex;
        position: relative;
        opacity: 0;
        visibility: hidden;
        margin-top: -12vh;
        position: absolute;
        border: 2px solid white;
        padding: 3px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
        transition: 0.3s;
    }

    .cssDiv:hover .span {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.8s;
    }

    .about-blue-background-1 {
        position: absolute;
        left: 0px;
        transform: rotateZ(-15deg) translateX(-50%);
        opacity: 0.2;
        background-image: linear-gradient(to left, rgb(39, 203, 255), rgba(39, 203, 255, 0));
        height: 30vh;
        aspect-ratio: 1 / 1;
        filter: blur(20px);
        border-radius: 40px;
        bottom: 100px;
    }

    .about-blue-background-2 {
        display: none;
    }

    .contact-blue-background-2 {
        position: absolute;
        right: 25%;
        transform: rotateZ(15deg) translateX(50%);
        opacity: 0.2;
        background-image: linear-gradient(to right, rgb(255, 39, 39), rgba(255, 39, 39, 0));
        height: 25vh;
        top: 30%;
        aspect-ratio: 1 / 1;
        filter: blur(20px);
        border-radius: 40px;
    }

    /* ///////////////// RECOMMENDATIONS //////////////////////////////////// */

    .recommendation_section {
        height: 70vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .recommendation_heading {
        margin-top: 8vh;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }


    .only {
        color: white;
    }

    .only::after {
        content: "";
        height: 40px;
        width: 80px;
        background-color: rgb(0, 205, 242);
        position: absolute;
        border-radius: 15px;
        margin-left: -70px;
        margin-top: -5px;
        z-index: -1;
        opacity: 0.5;
        transform: skewX(-20deg);
    }

    .cursorImg {
        position: absolute;
        margin-top: 25px;
    }

    .shayanRecommendation {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        height: 250px;
        width: 300px;
        background-color: white;
    }

    .shayanRecommendation p {
        display: block;
        font-size: 14px;
        opacity: 0.5;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        width: 100%;
    }

    .recommendationMainDiv {
        margin-top: 8vh;
        display: flex;
        gap: 25px;
        width: 100%;
    }

    .shayanimgdiv {
        display: flex;
        margin-top: 30px;
        gap: 20px;
        -webkit-box-align: center;
        align-items: center;
    }

    .shayanimgdiv div {
        opacity: 0.5;
    }

    .shayanImg {
        width: 40px;
        height: 40px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: 3px solid black;
    }

    /* ////////////////// CONTACT SECTION/////////////////////////////// */

    .contactSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
    }

    .contactSection div {
        text-align: center;
    }

    .contactSection h2 {
        font-size: 30px;
        margin-block-start: 0.83em;
        margin-block-end: 0.2em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .contactSection h4 {
        opacity: 0.5;
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: 500;
    }

    .formDiv {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
        height: 60vh;
        width: 90%;
        margin-top: 5vh;
        border-radius: 10px;
        position: relative;
    }

    form {
        width: 50%;
    }

    .inputsimgDiv {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .inputsDiv {
        padding: 20px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }

    .inputsDiv input {
        padding: 10px;
        background-color: rgb(243, 243, 243);
        border: 2px solid white;
        border-radius: 8px;
        outline: none;
        width: 100%;
        transition: all 0.3s ease-in-out 0s;
        z-index: 3;
    }

    .input {
        z-index: 5;
    }

    .inputsDiv textarea {
        padding: 10px;
        transition: all 0.3s ease-in-out 0s;
        background-color: rgb(243, 243, 243);
        border-radius: 8px;
        height: 100px;
        width: 100%;
        resize: none;
        outline: none;
        border: 2px solid white;
        z-index: 3;
    }

    .box {
        z-index: 3;
        transform: translate(-50%, -50%);
        margin-left: 14vh;
        margin-top: 4vh;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        font: 16px/24px Arial, sans-serif;
        background-color: rgba(0, 0, 0, 0.944);
        width: 180px;
        height: 20px;
        font-weight: 400;
        border-radius: 30px;
        transition: 0.2s ease-in-out;
        color: rgba(255, 255, 255, 0.932);
        border: none;
    }

    .contactWhiteImg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .contactimg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -2;
        border-radius: 12px;
    }

    .contact-blue-background-1 {
        position: absolute;
        left: 0px;
        transform: rotateZ(-15deg) translateX(-50%);
        opacity: 0.2;
        background-image: linear-gradient(to left, rgb(39, 203, 255), rgba(39, 203, 255, 0));
        height: 15vh;
        aspect-ratio: 1 / 1;
        filter: blur(20px);
        border-radius: 40px;
        margin-top: 150px;
    }

    .contact-blue-background-2 {
        position: absolute;
        right: 20%;
        transform: rotateZ(15deg) translateX(50%);
        opacity: 0.2;
        background-image: linear-gradient(to right, rgb(255, 39, 39), rgba(255, 39, 39, 0));
        height: 12vh;
        top: 20%;
        aspect-ratio: 1 / 1;
        filter: blur(20px);
        border-radius: 40px;
    }

    footer {
        width: calc(100% - 20px);
        padding: 10px;
        background-color: rgb(34, 34, 34);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        margin-top: auto;
        font-size: 12px;
    }

    footer footer {
        display: flex;
        justify-content: space-around;
    }

    footer footer ul {
        display: flex;
        gap: 20px;
        list-style-type: none;
    }

    .a_tag {
        color: white;
        text-decoration: none;
    }

    .footerH4 {
        font-weight: 500;
    }

    .N {
        font-size: 22px;
        color: rgb(39, 203, 255);
        font-family: 'Times New Roman', Times, serif;
    }

    .span2 {
        display: none;
    }

    .span3 {
        display: none;
    }
}

@media screen and (max-width: 340px) {
    .landing_page h1 {
        font-size: 24px;
        margin-top: 3vh;
        animation: textload 1.2s ease-in-out;
        width: 100%;
    }

    .blueLineDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .landing_page .blueLine {
        position: absolute;
        transform: translateY(9px);
        width: 130px;
        margin-left: -110px;
        z-index: -1;
        top: 47%;
        animation: textload 1.2s ease-in-out;
    }

    .AboutDescription {
        width: 60%;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        font-size: 16px;
        font-weight: 600;
        margin: 30px 20px 30px 10px;
    }

    .SkillContainerMoblie {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        padding-bottom: 5px;
        height: 25vh;
        padding-top: 15px;
        margin-left: -8vh;
    }

    .skillMainDivMoblie {
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
        width: 80%;
        transform: translateX(-50%);
    }

    .box {
        z-index: 3;
        transform: translate(-50%, -50%);
        margin-left: 11vh;
        margin-top: 4vh;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        font: 16px/24px Arial, sans-serif;
        background-color: rgba(0, 0, 0, 0.944);
        width: 150px;
        height: 18px;
        font-weight: 400;
        border-radius: 30px;
        transition: 0.2s ease-in-out;
        color: rgba(255, 255, 255, 0.932);
        border: none;
    }

}